
<div  ng-controller="xcCtrl">
    <header class="header">
        相册生成器
    </header>
    <section class="container-fluid">
        <div class="cvs-wrap">
            <div class="cvs-container" ng-style="canvasComputed" id="cvs-wrap">
                <div class="bg">
                    <img ng-src="{{backgroundImg}}" alt="" ng-style="canvasComputed">
                </div>
                <div class="cvs-items">
                    <div class="img-items" ng-mousedown="getItem($event,item)" ng-mousemove="moveItem($event,item)" ng-mouseup="removeMoveItem($event,item)" id="{{item.id}}" ng-style="item" ng-repeat="item in itemList">
                        <div class="glyphicon glyphicon-plus"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ctrl-plan fl">
            <div class="ctrl-heading">微调</div>
            <div class="ctrl-body">
                <div class=''>

                    <div class="pd-tb-5">
                        <div class=" btn btn-success file-bg">
                            上传本地背景
                            <input type="file" class="file-opcity-0" id="upload-background" accept="image/png,image/jpg,image/jpeg" ng-model="myFile" />
                        </div>
                        <input type="button" value="上传" ng-click="uploadPreviewModal()" class="btn btn-primary">
                        <input type="button" value="选择背景" ng-click="getImgBgList()" class="btn btn-warning">
                    </div>
                    <div class="pd-tb-5">
                        <div class="previewBg">
                            <img src="" alt="" id="preview-bg">
                        </div>
                    </div>
                    <hr/>
                    <label>
			    		计算背景宽高:
			    	</label>
                    <div class="pd-tb-5">
                        <input type="text" step="10" class="computed-value" ng-model="canvasComputed.width" placeholder="宽" ng-change="changeSize(canvasComputed,cvsRatio,'rotate')">
                        <input type="text" step="10" class="computed-value" ng-model="canvasComputed.height" placeholder="高" ng-change="changeSize(canvasComputed,cvsRatio,'rotate')">
                        <span>比例：</span>
                        <input type="text" class="computed-value" readonly="" ng-model="cvsRatio.rotate" name="" placeholder="自动计算">
                    </div>
                    <div><input type="button" ng-click="resetBack()" class="btn btn-success" value="复原"></div>
                    <hr/>
                    <div class="pd-tb-5">
                        <input type="button" ng-click="addItems()" value="添加元素" class="btn btn-success" name="">
                        <input type="button" ng-click="deleteItems()" value="删除元素" class="btn btn-success" name="">
                    </div>
                    <div class="pd-tb-5">
                        <label for="">设置元素宽高：</label>
                    </div>
                    <div class="pd-tb-5">
                        <input type="text" step="10" class="computed-value" placeholder="宽" ng-change="changeSize(currentItem,currentItem,'aspectRatio')" ng-model="currentItem.width">
                        <input type="text" step="10" class="computed-value" placeholder="高" ng-change="changeSize(currentItem,currentItem,'aspectRatio')" ng-model="currentItem.height">
                        <span>比例：</span>
                        <input type="text" class="computed-value" readonly="" ng-model="currentItem.aspectRatio" name="" placeholder="自动计算">
                    </div>
                    <div class="pd-tb-5">
                        <label for="">微调元素位置：</label>
                    </div>
                    <div class="pd-tb-5 text-center">
                        <input class="btn btn-primary" ng-click="changeRotate('rotate',-1)" type="button" value="角度+"></input>
                        <input type="text" ng-model="currentItem.rotate" class="computed-value" name="" readonly="">
                        <input class="btn btn-danger" ng-click="changeRotate('rotate',1)" type="button" value="角度-">
                    </div>
                    <div class="pd-tb-5 row">

                        <div class="pd-tb-5 col-xs-6 text-center">
                            <label for="">左右：</label>
                            <input type="text" ng-model="currentItem.left" class="computed-value" name="" readonly="">
                        </div>
                        <div class="pd-tb-5 col-xs-6 text-center">
                            <label for="">上下：</label>
                            <input type="text" ng-model="currentItem.top" class="computed-value" name="" readonly="">
                        </div>
                        <div class="pd-tb-5 col-xs-6 text-center">
                            <label for="">高度：</label>
                            <input type="text" ng-model="currentItem.height" class="computed-value" name="" readonly="">

                        </div>
                        <div class="pd-tb-5 col-xs-6 text-center">
                            <label for="">宽度：</label>
                            <input type="text" ng-model="currentItem.width" class="computed-value" name="" readonly="">
                        </div>
                    </div>
                    <div class="pd-tb-5">
                        <input type="button" class="btn btn-success" ng-click="toPreviewModal()" value="预览主题">

                        <input type="button" ng-click="setFinallyData()" class="btn btn-danger" value="生成主题">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer"></footer>
    <!-- /.modal-content -->
    <div class="modal fade" id="getImgList">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">图片列表</h4>
                </div>
                <div class="modal-body modal-title-list">
                    <div class="title-list">
                        <ul>
                            <li ng-click="getListItem(item,index)" ng-class="{'active':index==listActive}" class="list-type" ng-repeat="(index,item) in typeList">{{ item.theme }}</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-body flex-left">
                    <div ng-click="getBGitems(item)" class="bglist-items" ng-repeat="(index,item) in bgGroundList">
                        <div><img id="{{item.id}}" ng-src="{{baseUrl}}{{item.pic}}"></div>
                        <div><label for="">相片名称：</label>{{item.title}}</div>
                        <div><label for="">相片主题：</label>{{item.theme}}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- /.modal-content -->
    <div class="modal fade" id="chioseType">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">请选择你要上传的背景主题</h4>
                </div>
                <div class="modal-body modal-title-list">
                    <div class="title-list">
                        <ul>
                            <li ng-click="getListItem(item,index)" ng-class="{'active':index==listActive}" class="list-type" ng-repeat="(index,item) in typeList">{{ item.theme }}</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-body">

                    <label for="">增加自定义主题：</label>
                    <input type="text" name="" ng-model="diyType">

                    <label for="">设置背景图片名称：</label>
                    <input type="text" name="" ng-model="bgItemName">

                </div>
                <div class="modal-body">
                    <label for="">预览</label>
                    <img src="" id="upload-preview" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" ng-click="uploadAdmin()" class="btn btn-primary">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- 预览模态 -->
    <!-- /.modal-content -->
    <div class="modal fade" id="preview-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">预览</h4>
                </div>
                <div class="modal-body">
                    <div class="cvs-container" ng-style="canvasComputed">
                        <div class="bg preview">
                            <img ng-src="{{backgroundImg}}" alt="" ng-style="canvasComputed">
                        </div>
                        <div class="cvs-items">
                            <div class="img-items" ng-style="item" ng-repeat="item in itemList">
                                <div class="glyphicon glyphicon-plus"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- 已生成相片列表 -->
    <div class="text-center pd-tb-5">
        <div class="btn btn-primary" ng-click="sendXiangCeData()">确定生成，立即保存</div>
    </div>
    <div class="finally-list">
        <div ng-repeat="(index,item) in finallyData" class="finally-items">
            <div class="delete-finally" ng-click="delList(index,finallyData)">删除 </div>
            <div class="toprev" ng-click="toprev(index,finallyData)">排前</div>
            <div class="tonext" ng-click="tonext(index,finallyData)">排后</div>
            <div class="finally-container">
                <div class="finally-bg"><img ng-src="{{item.bgImg}}"></div>
                <div class="fanally-item">
                    <div class="item-lists" style="width:{{tip.width}}%;
						height:{{tip.height}}%;
						left:{{tip.left}}%;
						top:{{tip.top}}%;
						transform:rotate({{ tip.rotate }}deg)" ng-repeat="tip in item.list">
                        <div class="glyphicon glyphicon-plus"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loading -->
    <div class="loading-wrap " ng-show="isloading ">
        <div class="loading-cont ">loading...</div>
    </div>
</div>

